.engagementDiagram {
    background-color: #ffff;
}

div.surround {
    background-color: #ffff;
    padding: 15px;
}

.diagramTitle {
    font-weight: 700;
    font-size: 1.3em;
    color: black;
    margin-bottom: 20px;
}

table.matrix {
    width: unset;
}

table.matrix tr {
    font-size: 1em;
}

table.matrix td.colHeader {
    writing-mode: vertical-rl;
    transform: translate(25%, 0px) rotate(-160deg);
    width: 1px;
    padding: 8px;
}

table.matrix td {
    font-size: 1em;
}

table.matrix td.rowHeader {
    padding: 8px;
    text-align: right;
}

table.matrix td.cell {
    font-size: 1em;
}

div.matrix.cross {
    border-radius: 5px;
    font-size: 1em;
    line-height: 3.8em;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 2px;
    cursor: pointer;
    border: 1px solid #a9a9a961;
}

.column-contents {
    border-radius: 10px;
    background: #f7f7f7;
    border: 1px solid #d8d8d8;
}

.column-activities {
    background: #f7f7f7;
}

.column-header {
    position: relative;
    padding: 9px;
    font-weight: bold;
    font-size: 1.1em;
}

.column-contents {
    margin: 0px 4px 4px 4px;
    padding: 6px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    /* visibility: hidden; */
    min-width: 30em;
    max-width: 60em;
    background-color: rgb(1 68 134);
    color: #fff;
    padding: 6px 6px 6px 6px;
    border-radius: 10px;
    /* position: absolute; */
    top: 25%;
    left: 20%;
    z-index: 100;
}

.tooltip.dev .tooltiptext {
    visibility: visible;
}

/* .tooltip .tooltiptext { */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.refresher {
    margin: 25px 0px 5px 0px;
    width: 17em;
}

.hover-detail-row {
    margin: 1px 0px 1px 0px;
    width: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.detail-break {
    display: inline-block;
}

.detail-nougat {
    display: flex;
    flex-direction: row;
}
.detail-nougat:before,
.detail-nougat:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.detail-nougat:before {
    margin-right: 10px;
}
.detail-nougat:after {
    margin-left: 10px;
}

.detail-token {
    display: inline-block;
    border-radius: 8px;
    padding: 4px 10px 4px 10px;
    text-align: center;
}

.detail-token.token1 {
    background-color: #002e5c91;
}

.detail-token.token2 {
    background-color: #0053a3;
}

.detail-token.token3 {
    background-color: #0176d3;
}

.matrix.cross.b10 {
    background: rgba(109, 197, 101, 1);
}
.matrix.cross.b9 {
    background: rgba(109, 197, 101, 0.95);
}
.matrix.cross.b8 {
    background: rgba(109, 197, 101, 0.85);
}
.matrix.cross.b7 {
    background: rgba(109, 197, 101, 0.75);
}
.matrix.cross.b6 {
    background: rgba(109, 197, 101, 0.65);
}
.matrix.cross.b5 {
    background: rgba(109, 197, 101, 0.55);
}
.matrix.cross.b4 {
    background: rgba(109, 197, 101, 0.45);
}
.matrix.cross.b3 {
    background: rgba(109, 197, 101, 0.35);
}
.matrix.cross.b2 {
    background: rgba(109, 197, 101, 0.25);
}
.matrix.cross.b1 {
    background: rgba(109, 197, 101, 0.15);
}
.matrix.cross.b0 {
    background: rgba(109, 197, 101, 0.05);
}
.matrix.cross.empty {
    background: rgba(109, 197, 101, 0);
    cursor: default;
}

.entry.matrix {
    border: 1px solid #a9a9a97d;
}