/* ------------------------------------------------ */
/* wsTableLayout */

.sp-container {
    height: unset;
}

.ws-report-container {
    position: relative;
    font-family: arial, segoe ui;
    font-size: 1em;
}

.ws-table-container {
    position: relative;
    margin: 10px;
    max-width: 100%;
    max-height: 700px;
    overflow: scroll;
}

/* ------------------------------------------------ */

table {
    width: unset;
}

table.ws-table {
    border-spacing: 0px;
}

table.ws-table th {
    padding: 5px;
    border: 0px solid black;
}

table.ws-table td {
    padding: 5px;
    border: 0px solid black;
}

/* ------------------------------------------------ */

th.ws-col-header-layer {
    background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
}

th.ws-col-header-layer.group {
    top: 0px;
}

th.ws-col-header-layer.parent {
    top: 0px;
}

/* ------------------------------------------------ */

th.ws-row-header-layer {
    background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;
}

th.ws-row-header-layer.group {
    left: 0px;
}

th.ws-row-header-layer.parent {
    left: 0px;
}

/* ------------------------------------------------ */

.ws-corner {
    position: sticky;
    position: -webkit-sticky;

    min-width: 53px;
    width: 60px;
    height: 50px;

    top: 0;
    left: 0;
    z-index: 20;
    background-color: #fff;
}

.ws-corner.group {
    top: 0;
}

.ws-corner.header {
    top: 0px;
}

/* -- IE10+ specific styles go here --------------*/
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    th.ws-row-header-layer {
        position: relative;
        transform: translate(-60px, 0px);
    }

    div.ws-row-header-rotate {
        top: unset;
    }

    th.ws-row-header-layer.group {
        transform: translate(0px, 0px);
    }

    th.ws-row-header-layer.parent {
        transform: translate(-60px, 0px);
    }
}