.ws-cell {
    border-radius: 15px;
    overflow: hidden;
    float: left;
}

.ws-cell-tiles {
    background-color: #eeeeee;
    border-radius: 4px;
    margin: 2px;
}

.ws-cell-tiles:hover {
    transition: box-shadow 0.35s ease;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.16);
    background-color: white;
    grid-column: 1 / -1;
}

.ws-cell-single {
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 100%;
}

.ws-highlight-layer {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.ws-cell-empty {
    background-color: #f2f2f2;
}

.ws-cell-selected {
    background-color: #accdff;
    /* border: 2px solid rgb(118, 170, 250); */
}

.highlightCell {
    background-color: rgb(180, 180, 180);
    box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.85);
    transform: translate(-1px, -1px);
}

.highlightSiblings {
    background-color: rgb(220, 220, 220);
}

.highlightAsChild {
    background-color: rgb(255, 242, 172);
}

.hidden {
    visibility: hidden;
}

.ws-cell-col-count-1 {
    width: calc((100% - (4px * 1)) / 1);
    height: calc((100% - (4px * 1)) / 1);
}

.ws-cell-col-count-2 {
    width: calc((100% - (4px * 2)) / 2);
    height: calc((100% - (4px * 2)) / 2);
}

.ws-cell-col-count-3 {
    width: calc((100% - (4px * 3)) / 3);
    height: calc((100% - (4px * 3)) / 3);
}

.ws-cell-col-count-4 {
    width: calc((100% - (4px * 4)) / 4);
    height: calc((100% - (4px * 4)) / 4);
}

.ws-cell-col-count-5 {
    width: calc((100% - (4px * 5)) / 5);
    height: calc((100% - (4px * 5)) / 5);
}