.pq-score-obj-parent {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.pq-score-obj-child {
    flex: 0 0 26%;
}
.pq-score-container {
    display: flex;
    flex-flow: column nowrap;
}
.pq-score-child {
    margin: auto;
}
.pq-title {
    font-size: 12px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.pq-chart {
    margin-top: -50px;
}